<div class="course-list-wrapper">
    <div *ngFor="let course of courses">
        <app-course-card
        [title]="course.title"
        [description]="course.description"
        [duration]="course.duration"mtVha1606002000
        [creationDate]="course.creationDate"
        [authors]="course.authors">
            <app-button 
                [btnText]="btnText"
                [firstIconName]="firstIconName"
                [secondIconName]="secondIconName" *ngIf = "isEditable; else elseBlock ">
            </app-button>

            <ng-template #elseBlock >
                <app-button #elseBlock
                    [btnText]="btnText">
                </app-button>
            </ng-template>
        </app-course-card>
    </div>
</div>