<form class="course-form" [formGroup]="courseForm" (ngSubmit)="onSubmit(courseForm.value)" 
*ngIf="isCourseExists && courseForm; else noSuchCourse">

    <!-- TITLE INPUT -->
    <div class="form__content">
        <h3 class="form__subtitle">Title</h3>
        <div class="form__field">
            <input type="text" 
            class="form__input"
            formControlName="title"
            [ngClass]="{'form__input--invalid': 
            (!titleField && isSubmitBtnPressed) || (!titleField && courseForm.get('title')?.touched)}">

            <button type="submit" class="button__btn">{{submitBtnText}}</button>
        </div>

        <div class="form__error-text"
        *ngIf="(!titleField && isSubmitBtnPressed) || (!titleField && courseForm.get('title')?.touched)"
        >Title is required</div>
    </div>


    <!-- DESCRIPTION INPUT -->
    <div class="form__content">
        <h3 class="form__subtitle">Description</h3>
        <input type="text" 
        class="form__input form__input--large"
        formControlName="description"
        [ngClass]="{'form__input--invalid': 
        (!descriptionField && isSubmitBtnPressed) || (!descriptionField && courseForm.get('description')?.touched)}">

        <div class="form__error-text"
        *ngIf="(!descriptionField && isSubmitBtnPressed) || (!descriptionField && courseForm.get('description')?.touched)"
        >Description is required</div>
    </div>


    <!-- AUTHOR INPUT -->
    <div class="author-form">
        <div class="form__content">
            <h3 class="form__title">Add authors</h3>
            <h3 class="form__subtitle">Author name</h3>
            <input type="text" 
            class="form__input"
            formControlName="newAuthor"
            #newAuthor
            [ngClass]="{'form__input--invalid': 
            courseForm.get('newAuthor')?.hasError('notALatinSymbOrNum')}" >
            
            <div class="form__error-text"
            *ngIf="courseForm.get('newAuthor')?.hasError('notALatinSymbOrNum')"
            >Author name should include only latin letters and numbers</div>

            <button type='button' 
            class="button__btn button__btn--centered" 
            [disabled]="!newAuthorField || courseForm.get('newAuthor')?.hasError('notALatinSymbOrNum')" 
            (click)="addAuthor(); newAuthor.value=''">Create author</button>
        </div>

        <div class="form__content">
            <h3 class="form__title">Authors list</h3>
            <div class="author__list" formArrayName="authors">
                <div class="author__card" *ngFor="let author of authorsForm.controls; index as i">
                    <div class="author__name">{{author.value}}</div>
                    <button type='button' class="button__btn" (click)="deleteAuthor(i)">Delete author</button>
                </div>
            </div>
        </div>


        <!-- DURATION INPUT -->
        <div class="form__content">
            <h3 class="form__title">Duration</h3>
            <h3 class="form__subtitle">Duration</h3>
            <input type="text" 
            class="form__input"
            formControlName="duration"
            [ngClass]="{'form__input--invalid': isDurationValid()}" >

            <div class="form__error-text"
            *ngIf="(!durationField && isSubmitBtnPressed) || (!durationField && courseForm.get('duration')?.touched)"
            >Duration is required</div>

            <div class="form__error-text"
            *ngIf="(durationField && courseForm.get('duration')?.hasError('pattern'))"
            >Only numbers allowed</div>

            <div class="form__error-text"
            *ngIf="(!courseForm.get('duration')?.hasError('pattern') && courseForm.get('duration')?.hasError('min'))"
            >Duration has to be more than 0</div>

            <div class="form__duration-text">
                Duration: <b>{{durationField | duration}}</b> hours
            </div>
        </div>
    </div>

</form>

<ng-template #noSuchCourse>
    <app-info
    title="No Such Course">
    </app-info>
</ng-template>
