<form class="form-wrapper" [formGroup]="regForm" (ngSubmit)="onSubmit(regForm.value)">
    <h2 class="form__title">Registration</h2>

    <!-- NAME INPUT -->
    <div class="form__content">
        <h3 class="form__subtitle">Name</h3>
        <input type="text" 
        class="form__input" 
        [ngClass]="{'form__input--invalid': isNameValid()}"
        formControlName="name" >

        <!-- Err text is displayed if there is empty NAME field and submit btn was pressed or input field was touched  -->
        <div class="form__error-text" 
        *ngIf="(!nameField && isSubmitBtnPressed) || (!nameField && regForm.get('name')?.touched)"
        >Name is required</div>

        <!-- Err text is displayed if value length < 6 and and NAME field not empty  -->
        <div class="form__error-text" *ngIf="regForm.get('name')?.hasError('minlength') && nameField">
            Name must be at least 6 characters long.
       </div> 
    </div>


    <!-- EMAIL INPUT -->
    <div class="form__content">
        <h3 class="form__subtitle" appPassword>Email</h3>
        <input type="text" 
        class="form__input"
        placeholder="example@gmail.com"
        [ngClass]="{'form__input--invalid': isEmailValid()}"
        formControlName="email"
        appEmailValidator>

        <!-- Err text is displayed if there is empty EMAIL field and submit btn was pressed or input field was touched  -->
        <div class="form__error-text" 
        *ngIf="(!emailField && isSubmitBtnPressed) || (!emailField && regForm.get('email')?.touched)"
        >Email is required</div>

        <!-- Err text is displayed if validation failed and EMAIL field not empty -->
        <div class="form__error-text" 
        *ngIf="regForm.get('email')?.hasError('emailvalidator') && emailField"
        >Not an email. It has to include @gmail.com or @ukr.net or @email.com ending </div>

        <!-- Err text is displayed if value length > 30 and validation succeed  -->
        <div class="form__error-text" 
        *ngIf="regForm.get('email')?.hasError('maxSymbols') && !regForm.get('email')?.hasError('emailvalidator')"
        >Email have to be less than 30 symbols</div>
    </div>


    <!-- PASSWORD INPUT -->
    <div class="form__content">
        <h3 class="form__subtitle">Password</h3>
        <input type="password" 
        class="form__input" 
        [ngClass]="{'form__input--invalid': 
        (!passwordField && isSubmitBtnPressed) || (!passwordField && regForm.get('password')?.touched)}"
        formControlName="password" 
        appPassword
        #passwordDirective = "appPassword">
        
        <fa-icon class="password-icon" 
        [icon]="passwordDirective.isPasswordType ? eyeIcon : eyeSlashIcon" 
        (click)="passwordDirective.onToggle()">
        </fa-icon>
        
        <!-- Err text is displayed if there is empty PASSWORD field and submit btn was pressed or input field was touched  -->
        <div class="form__error-text" 
        *ngIf="(!passwordField && isSubmitBtnPressed) || (!passwordField && regForm.get('password')?.touched)"
        >Password is required</div>

        <!-- Err text is displayed if value length < 6 and PASSWORD field not empty  -->
        <div class="form__error-text" *ngIf="regForm.get('password')?.hasError('minlength') && passwordField">
        Password must be at least 6 characters long.
        </div> 
    </div>

    <div class="form__error-text" 
    *ngIf="fieldsAreWrong">Something went wrong..</div>

    <div class="form__content form__content--centered">
        <button class="button__btn button__btn--large">Registration</button>
        <div class="form__text">If you have an accout you can <a routerLink="/login">Login</a></div>
    </div>
</form>
