<app-search
    placeholderText = "Search by title"
    (searchDataEvent) = "search($event)"
    (clearInputEvent)="clearSearch()">
</app-search>

<a routerLink="/courses/add" *ngIf="userState.isAdmin$ | async as boolean">
    <app-button 
        btnText="Add Course" *ngIf="!noCourses">
    </app-button>
</a>

<app-modal-window
    title="Do you want to delete this course?"
    okButtonText="Yes"
    cancelButtonText="No" 
    (modalResult) = "deleteCourse($event)" *ngIf="isModalWindowShowed">
</app-modal-window>

<app-course-list
    [courses]="(coursesState.allCourses$ | async)!"
    [isEditable]="(userState.isAdmin$ | async)!"
    (courseBtnClick)="processCourseBtnClick($event)" *ngIf="!(coursesState.isSearchingState$ | async); else searchList">
</app-course-list>

<ng-template #searchList>
    <app-course-list
        [courses]="(coursesState.courses$ | async)!"
        [isEditable]="(userState.isAdmin$ | async)!"
        (courseBtnClick)="processCourseBtnClick($event)" 
        *ngIf="(coursesState.courses$ | async)!.length !=0; let searchedCourses; else noSearchedCourses">
    </app-course-list>
</ng-template>


<app-info
    title="Your list is empty" *ngIf="noCourses">
    <a routerLink="/courses/add" *ngIf="userState.isAdmin$ | async as boolean">
        <app-button 
            btnText="Add new course">
        </app-button>
    </a>
</app-info>

<ng-template #noSearchedCourses>
    <app-info
        title="The are no Courses with such title">
    </app-info>
</ng-template>


