<div class="course-form">
    <div class="form__content">
        <h3 class="form__subtitle">Title</h3>
        <div class="form__field">
            <input type="text" class="form__input">
            <button class="form__btn">Create course</button>
        </div>
    </div>

    <div class="form__content">
        <h3 class="form__subtitle">Description</h3>
        <input type="text" class="form__input form__input--large">
    </div>


    <div class="author-form">
        <div class="form__content">
            <h3 class="form__title">Add authors</h3>
            <h3 class="form__subtitle">Author name</h3>
            <input type="text" class="form__input">
            <button class="form__btn form__btn--centered">Create author</button>
        </div>

        <div class="form__content">
            <h3 class="form__title">Authors list</h3>
            <div class="author__list">
                <div class="author__card">
                    <div class="author__name">some author</div>
                    <button class="form__btn">Delete author</button>
                </div>

                <div class="author__card">
                    <div class="author__name">some author</div>
                    <button class="form__btn">Delete author</button>
                </div>
            </div>
        </div>

        <div class="form__content">
            <h3 class="form__title">Duration</h3>
            <h3 class="form__subtitle">Duration</h3>
            <input type="text" class="form__input">
            <div class="form__duration-text">
                Duration: <b>00:00</b> hours
            </div>
        </div>
    </div>

</div>

